<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Scroll Rack | {{ title }}</title>
    
    <link href="{{ relative_path path 'style.css' }}" rel="stylesheet">
</head>
<body>
    
    <toggle-menu>
        {{{ svg 'bookmark' }}}
    </toggle-menu>
    
    <nav>
        {{> nav}}
    </nav>
    <main>