<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="theme-color" content="#814d7c">

	<title>Scroll Rack | {{ title }}</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link href="{{ relative_path path 'theme.css' }}" rel="stylesheet">
    <link href="{{ relative_path path 'style.css' }}" rel="stylesheet">
</head>
<body>

    <page-menu-toggle>
        {{{ svg 'bookmark' }}}
    </page-menu-toggle>

    <page-menu>
        <page-menu-title>Table of Contents</page-menu-title>
        <section-list>
            {{> nav current=path }}
        </section-list>
    </page-menu>
    <page-menu-backdrop></page-menu-backdrop>

    <main>