{{#each nav}}
    {{#if name}}
    <section-nav-title>{{name}}</section-nav-title>
    {{/if}}
    <ul>
        {{#each items}}
        <li><a href="/{{ path }}">{{ title }}</a></li>
        {{/each}}
    </ul>
{{/each}}