code:not(.hljs) {
    padding: rem(3) rem(5);

    border-radius: 2px;
    background: lighten($grey--lightest, 2%);

    font-size: 70%;
}

.hljs {
    padding: rem(16);

    font-size: 80%;
    line-height: 1.3;
}