$white: #fff;
$black: #333;

$grey--lightest: #ececec;
$grey--lighter: #d8d8d8;
$grey: #ccc;
$grey--dark: #878787;
$grey--darker: #424242;

$purple--light: #f1eaf1;
$purple: #814d7c;
$purple--dark: #5c3759;