$white: #fff;
$black: #333;

$grey--lightest: #ececec;
$grey--lighter: #d8d8d8;
$grey: #ccc;
$grey--dark: #878787;
$grey--darker: #424242;

$purple--lightest: #f1eaf1;
$purple--lighter: #c8a3c4;
$purple--light: #a3659d;
$purple: #814d7c;
$purple--dark: #674172;