.footnote-ref {
    padding-left: 2px;

    a {
        border: none;
    }
}

.footnote-backref {
    border: none;
}

.footnotes-list {
    margin: 0;
    padding-left: rem(5);

    color: $grey--darker;
    font-size: rem(14);

    counter-reset: footnotes;

    li {
        @include display(flex);

        &:target {
            p {
                background: #fcfcb4;
            }
        }

        + li {
            padding-top: rem(2);
        }

        &:before {
            display: block;
            content: counter(footnotes) ".";

            padding: rem(2) rem(8) rem(2) 0;

            counter-increment: footnotes;

            color: $grey--dark;
        }
    }

    p {
        margin: 0;
        padding: rem(2);
        @include flex(1);
    }

    a {
        color: $purple;
        border: none;

        &:hover {
            color: $purple--light;
        }
    }
}

.footnote-backref {
    display: inline-block;

    margin-left: rem(5);

    color: $grey--darker !important;
    line-height: 1;
    vertical-align: text-bottom;

    &:hover {
        color: $purple--light !important;
    }
}